.machine {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
    cursor: pointer;
    border: 2px solid;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 100px;
    height: 100px;
    border-radius: 50%;
}


.gear-icon {
    position: absolute;
    transition: transform 0.5s ease-in-out;
}

.big-gear {
    top: 20%;
    left: 20%;
}

.small-gear {
    top: 50%;
    left: 50%;
}

/* Clockwise rotation for the big gear */
.rolling.big-gear {
    animation: roll-clockwise 2s linear infinite;
}

/* Counterclockwise rotation for the small gear */
.rolling.small-gear {
    animation: roll-counterclockwise 2s linear infinite;
}

@keyframes roll-clockwise {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

@keyframes roll-counterclockwise {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(-360deg);
    }
}


.machine-handle {
    background: #555;
    top: 50%;
    transform: translateY(-50%);
    width: 10px;
    height: 10px;
    border-radius: 50%;
    position: absolute;
}
